beautifulsoup4==4.9.3
cachier==1.5.0
certifi==2019.9.11
chardet==3.0.4
chromedriver-binary==91.0.4472.19.0
dropbox==11.9.0
idna==2.8
numpy==1.20.3
packaging==19.2
pandas==1.2.4
pathtools==0.1.2
pluggy==0.13.0
ply==3.11
portalocker==2.3.0
pretty-html-table==0.9.5
py==1.10.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
pywin32==300
PyYAML==5.4
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==2.2.1
stone==3.2.1
tabulate==0.8.9
toml==0.10.2
tqdm==4.60.0
urllib3==1.25.8
watchdog==2.1.2
